@{
    ViewBag.Title = "Některé z posledních úprav";
}
<div class="implemented-functions">
    <ul>
        <li><i class="fa fa-caret-right"></i>implementace modálního okna (Druhy aktivit) (Ajax.Actionlink(), javascript, Bootstrap komponenta, PartialView)</li>
        <li><i class="fa fa-caret-right"></i>převod vyhledávání do Ajaxové formy</li>
        <li><i class="fa fa-caret-right"></i>loading button na LoginPage</li>
        <li><i class="fa fa-caret-right"></i>převod ReservationTime na Datetime</li>
        <li><i class="fa fa-caret-right"></i>DATETIME</li>
        <li><i class="fa fa-caret-right"></i>formátování Datetime.ToString()</li>
        <li><i class="fa fa-caret-right"></i>předělán komplet vzhled interface</li>
        <li><i class="fa fa-caret-right"></i>EventsBar</li>
        <li><i class="fa fa-caret-right"></i>klient – označení rezervovaných, zamezení vícenásobné rezervace</li>
        <li><i class="fa fa-caret-right"></i>klient – zamezení zrušení rezervace uplynulé lekce</li>
        <li><i class="fa fa-caret-right"></i>klient – stránkování rezervací (restrikce pouze rezervací daného klienta, řazení dle času zahájení lekce)</li>
        <li><i class="fa fa-caret-right"></i>klient – Zamezení zrušení rezervace 6 hodin před zahájením lekce. Označení labelem “upsáno”.</li>
        <li><i class="fa fa-caret-right"></i>stránkování výpisů lekcí dle filtrů aktivit</li>
        <li><i class="fa fa-caret-right"></i>restrikce dle uplynulých/aktivních lekcí + kombinace s restrikcí dle druhu aktivity</li>
        <li><i class="fa fa-caret-right"></i>vyznačení labelu zvoleného filtru aktivity, vyznačení labelu restrikce dle uplynulých/aktivních lekcí</li>
        <li hidden="hidden"><i class="fa fa-caret-right"></i>integrace lightbox galerie blueimp Gallery</li>
        <li><i class="fa fa-caret-right"></i>intergrace Facebook SDK</li>
        <li hidden="hidden"><i class="fa fa-caret-right"></i>integrace carouselu FlexSlider 2.4.0</li>
        <li><i class="fa fa-caret-right"></i>obsluha - tlačítko deaktivovat/smazat ve správě instruktorů</li>
        <li><i class="fa fa-caret-right"></i>automatické generování loginu dle kritérií při registraci nového klienta</li>
        <li><i class="fa fa-caret-right"></i>stránkování seznamu klientů + kombinace stránkování s vyhledávanou frází při filtraci klientů</li>
        <li><i class="fa fa-caret-right"></i>aktivního klienta již nelze smazat, zamezení nekonzistencím v historii</li>
    </ul>

    <h2>Datový model</h2>
    <a href="@Url.Content("~/Content/images/others/DataModel.jpg")"><img src="@Url.Content("~/Content/images/others/DataModel.jpg")" alt="Datový model projektu"></a>
</div>
