<?xml version="1.0" encoding="utf-8"?>
<!--
  Další informace o konfiguraci aplikace ASP.NET naleznete na webu
  http://go.microsoft.com/fwlink/?LinkId=301880.
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
     <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- TomSko SweetCaptcha-->
    <!--<add key="sweetcaptchaHost" value="http://sweetcaptcha.com/api" />
    <add key="sweetcaptchaAppId" value="your_key" />
    <add key="sweetcaptchaAppSecret" value="your_secret" />-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <!-- TomSko nastavení globalizace kvůli DateTime-->
    <globalization uiCulture="cs-CZ" culture="cs-CZ"/>
    
    <!-- TomSko Azure detailní errory -->
    <customErrors mode="Off"/>
    
    <!-- 1. musíme aplikaci říct, že režim autentifikace je nastaven na hodnotu formulářový autentity, tzn. uživatel se 
    autentifikuje pomocí uživatelského jména a hesla, které zadává do formuláře -->
    <authentication mode="Forms">
      <!-- Jakmile při spuštění aplikace narazí na controller s atributem [Authorize] a my nejsme authorizovaný, tak nás automaticky přesune na loginUrl -->
      <forms loginUrl="~/Admin/Login" /> 
    </authentication>

    <!-- Nastavení správce uživatelských účtů -->
    <membership defaultProvider="FitnessCentreMembershipProvider">
      <providers>
        <!-- Zavoláme clear, abychom tam náhodou neměli nějaký pozůstatek -->
        <clear/>
        <add name="FitnessCentreMembershipProvider" type="WebApplication1.Class.FitnessCentreMembershipProvider"/>
      </providers>
    </membership>

    <roleManager enabled="true" defaultProvider="FitnessCentreRoleProvider">
      <providers>
        <!-- Zavoláme clear, abychom tam náhodou neměli nějaký pozůstatek -->
        <clear/>
        <add name="FitnessCentreRoleProvider" type="WebApplication1.Class.FitnessCentreRoleProvider"/>
      </providers>
    </roleManager>
    
  </system.web>
</configuration>
