@{
    ViewBag.Title = "Panel profilu uživatele";
    Layout = null;
}

<style type="text/css">
    .avatar {
        background-image: url(@Url.Content("~/Content/images/manSilhouette.png"));
    }
</style>

<div class="section-content">
    <div class="avatar"></div>
    <div class="side-barTomSko">
        <p class="text-muted">nepřihlášený uživatel</p>
    </div>
</div>