
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="@Url.Content("~/uploads/favicon.ico")">

    <title>Knihovna - login</title>

    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">

    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

            .form-signin .form-signin-heading,
            .form-signin .checkbox {
                margin-bottom: 10px;
            }

            .form-signin .checkbox {
                font-weight: normal;
            }

            .form-signin .form-control {
                position: relative;
                height: auto;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 10px;
                font-size: 16px;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
    </style>
</head>

<body>

    <div class="container">
        @if (TempData["error"] != null)
        {
            <p>@TempData["error"]</p>
        }

        @using (Html.BeginForm("SignIn", "Login", FormMethod.Post, new { @class = "form-signin" }))
        {
            <h2 class="form-signin-heading">Přihlášení</h2>
            <label for="inputEmail" class="sr-only">Jméno</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="login" name="login">
            <label for="inputPassword" class="sr-only">Heslo</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="heslo">
            @*<div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>*@
            <button class="btn btn-lg btn-primary btn-block" type="submit">Přihlásit</button>
        }

    </div> <!-- /container -->

</body>
</html>


